main {
  width: 400px;
  margin-left: 50vw;
  margin-top: 50px;
  transform: translate(-50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#headline {
  margin-left: 12px;
}

#sync img {
  width: 60%;
  height: auto;
}

#sync {
  margin-top: 12px;
}

#input-box {
  border: none;
  padding-left: 12px;
  padding-bottom: 15px;
  padding-top: 10px;
}

#input-box:focus {
  outline: none;
}

.checked {
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 7px;
  border-top: #dfd9d9 solid 1px;
}

.checked label {
  text-decoration: line-through;
}

.unchecked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 7px;
  border-top: #dfd9d9 solid 1px;
}

.unchecked .hidden-edit-input {
  display: none;
  border: none;
  padding-left: 25px;
  background-color: transparent;
}

.unchecked .hidden-edit-input:focus {
  outline: none;
}

.unchecked .visiable-input {
  display: block;
}

/* stylelint-disable */
.unchecked .dot-menu>img {
  width: 75%;
  height: auto;
}

/* stylelint-enable */
.unchecked .dot-menu {
  text-align: center;
  margin-right: 10px;
}

.clear {
  text-align: center;
  color: #909090;
  border: solid #f2efef 1px;
  background-color: #f2efef;
}

.clear a {
  text-decoration: none;
  color: #909090;
}

.clear a:hover {
  color: #585858;
}

.clear p {
  margin-top: 12px;
  margin-bottom: 12px;
}
