main {
  width: 400px;
  margin-left: 50vw;
  margin-top: 50px;
  transform: translate(-50%);
  /* border: #BCBABA solid 1px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#headline{
  margin-left: 12px;
}

#sync img {
  width: 60%;
  height: auto;
}

#sync {
  margin-top: 12px;
}


#input-box{
  border: none;
  padding-left: 12px;
  padding-bottom: 15px;
  padding-top: 10px;
}

#input-box:focus {
  outline: none;
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 7px;
  border-top: #DFD9D9 solid 1px;
}

.dot-menu img {
  width: 50%;
  height: auto;
}

.dot-menu {
  text-align: center;
}

.clear {
  text-align: center;
  color: #909090;
  border: solid #F2EFEF 1px;
  background-color: #F2EFEF;
}
